@use "global" as *;

.news__content {
  color: $white;
  @include mq("md") {
    display: flex;
    justify-content: center;
  }
}

.news__content:not(:first-child) {
  margin-top: rem(32);
}

.news__info {
  @include mq("md") {
    margin-top: rem(2);
  }
}

.news__date,
.news__category {
  display: inline-block;
}

.news__date {
  font-size: rem(16);
}

.news__category {
  margin-left: rem(28);
  padding: rem(7.5) rem(20.7);
  border: 1px solid $white;
  font-size: rem(14);
  line-height: 1;
  @include mq("md") {
    margin-left: rem(45);
  }
}

.news__body {
  margin-top: rem(15);
  flex: 1;
  @include mq("md") {
    max-width: rem(572);
    margin-top: initial;
    margin-left: rem(60);
    margin-top: rem(6);
  }
}

.news__text {
  color: $white;
  line-height: 1.4375;
  @include mq("md") {
    line-height: 1.5;
  }
}

.news__text:hover {
  opacity: 1;
  border-bottom: 1px solid $white;
}

.news__text--yellow:hover {
  color: $yellow;
  border-bottom: none;
}

.news__button {
  margin-top: rem(27);
  text-align: center;
  @include mq("md") {
    margin-top: rem(2);
    margin-left: rem(48);
  }
}