@use "global" as *;

.page-blog__items {
  margin-top: rem(37);
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(40);
    column-gap: rem(48);
    row-gap: rem(114);
  }
}
