@use "global" as *;


.page-content__items {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(150);
  }
}
.page-content__inner.inner {
  padding-left: 0;
  padding-right: 0;
  @include mq("md") {
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.page-content__content {
  @include mq("md") {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: flex-start;
  }
}

.page-content__content:not(:first-child) {
  margin-top: rem(48);
  @include mq("md") {
    margin-top: rem(104);
  }
}

.page-content__content.page-content__content--reverse {
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
  }
}

.page-content__wrapper {
  position: relative;
  width: 100%;
  @include mq("md") {
    width: 50.6%;
    margin-top: 0;
  }
}

.page-content__wrapper picture {
  @include mq("md") {
    width: 100%;
    max-width: rem(557);
  }
}

.page-content__body {
  padding: rem(24) rem(20) rem(21);
  @include mq("md") {
    width: 47%;
    margin-left: rem(32);
    padding: 0;
  }
}

.page-content__body.page-content__body--reverse {
  @include mq("md") {
    margin-right: rem(32);
    margin-left: 0;
  }
}

.page-content__sub-title.sub-title {
  text-align: center;
  margin-top: 0;
  @include mq("md") {
    text-align: left;
    margin-top: rem(10);
  }
}

.page-content__sub-title.page-content__sub-title--center {
  text-align: center;
  }

.page-content__text.text {
  text-align: left;
  margin-top: rem(23);
  @include mq("md") {
    margin-top: rem(43);
  }
}

.page-content__text.page-content__text.page-content__text--center {
  text-align: left;
  @include mq("md") {
    text-align: center;
  }
}

.page-content__sub-text.text {
  margin-top: rem(23);
}
