@use "global" as *;

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  width: rem(30);
  height: rem(30);
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  width: rem(30);
  height: rem(30);
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(/images/works_detail/arrow_01.svg);
}

/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(/images/works_detail/arrow_02.svg);
}
